<div>
    <img src="assets/images/happypawsindex790x720-revised01212019.jpg"
    alt="index image" width="395px" height="360px" class="formatimageindex" />
</div>
<article>
    <h3>
        Looking for delicious, healthy food and treats for your canine companion?

    </h3>
    <p>
        Drop by the Happy Paws Cafe to sample made from scratch delights,
        such as lamb, turkey, beef and chicken based meals, birthday cakes,
        doughnuts, cupcakes, and frozen yogurt.
    </p>
    <p>
        Each one of our meal plans are hand crafted with locally sourced
        organic food and produce and nutritionally balanced.
    </p>
    <p>
    We've taken years to develop our food,
    so we're just as excited as you are to see the benefits of our fresh meal plans!
    <a href="https://hellogiggles.com/lifestyle/pets/signs-dog-best-friend/">
        <strong>   Your dog is your best friend</strong></a>
    </p>
</article>
