<article>
  <figure id="subproduct">
          <img src="assets/images/happypawsproducts273x185-revised-01212019.jpg"
          alt="indexi image" width="273px" height="185px" class="formatimageproduct"/>

  </figure>

  <h3>New Products for the Month!</h3>
      <dl>
      <dt>Anxiety Squares</dt>
          <dd>
              <p class=formata>
                  Does your dog have issues with anxiety or arthritis pain?
              </p>
              <p>
                  Happy Paws Cafe now offers brownies made with 100% organic olive oil to ease anxiety
                  and reduce pain inflammation!
              </p>
          </dd>

      <dt>Balanced Beef, Turkey, Lamb, Turkey Broccoli Fried Rice With Egg</dt>
          <dd>
              <p class=formata>
                  Does your dog have issues with sensitive skin?
              </p>
              <p>
                  Happy Paws Cafe now offers healthy Balanced Beef, Turkey, Lamb,
                  Turkey Broccoli Fried Rice With Egg made with 100% organic olive oil
                  to promote vitamin A, protein and immune system and help dry and itchy skin!
              </p>
          </dd>
      </dl>
</article>
